The "algorithm" parameter of Digest challenge is no longer optional

I believe that neon 0.32.3, particularly 2b8e2e4e3568d10cdb3ef07b3ae4c699540479ea, broke RFC 2617 compliance.

The `algorithm` parameter of `Digest` challenge is optional and defaults to `MD5`, according to [section 3.2.1 of RFC 2617](https://datatracker.ietf.org/doc/html/rfc2617#page-10):

> A string indicating a pair of algorithms used to produce the digest and a checksum. If this is not present it is assumed to be "MD5".

In neon 0.32.3 the absence of the parameter results in 

> unknown algorithm in Digest challenge

I believe that it's because in 0.32.3, the `alg` defaults to `null`, what is the same value as is used when `algorithm` has unknown value.

While in 0.32.2 the `alg` defaulted to `0`, what is `auth_alg_md5`. But when `algorithm` has unknown value, the `alg` is `auth_alg_unknown`.

----

*Thanks for keeping neon up to date!*

Thanks.

Regarding the servers, see for example #78:
```
auth: Post-send (#0), code is 401 (want 401), WWW-Authenticate is Digest realm="Bitrix Site Manager", nonce="6cbf91f91941c"
```
Or the log at https://winscp.net/forum/viewtopic.php?t=32339:
```
Header Name: [www-authenticate], Value: [Digest realm="SabreDAV",qop="auth",nonce="62b35627181f8",opaque="df58bdff8cf60599c939187d0b5c54de"]
```

Gotcha, thanks. Sorry for the regression, I'll try to push another release over the weekend.

> How can we install the bugfixed version in Ubuntu 22.04?

@mbrohl This should be requested/reported into the Ubuntu bug tracker.